@require '~vuetify/src/stylus/settings/_variables.styl'

$body-font-family = 'Source Code Pro', monospace
$font-size-root = 11px
$line-height-root = 1.2
$button-background-color = #fff
$material-light.background = #fff
$material-light.app-bar = #fff
$material-light.input-bottom-line = #000
$material-light.text-fields.box = #fff
$material-light.text-fields.box-hover = #fff
$material-light.text-fields.box-focus = #fff
$material-light.inputs.box = #fff
$material-light.inputs.solo-inverted-focused = #fff
$material-light.icons.active = #000
$material-light.text.primary = #000
$material-light.text.secondary = #000
$material-light.text.disabled = #000
$material-light.tabs.active = #000
$material-light.text.link = #000
$material-light.text.link-hover = #000
$material-light.buttons.disabled = #fff
$material-light.buttons.focused = #fff
$material-light.buttons.focused-alt = #fff
$material-light.buttons.pressed = #fff
$headings.h3.font-family = 'Bitter', serif
$headings.h4.font-family = 'Bitter', serif
$headings.h5.font-family = 'Bitter', serif
$headings.h6 = {
    font-family: $headings.h3.font-family,
    letter-spacing: 1px,
    size: 16px
}
$headings.h1 = {
    letter-spacing: 2px,
    size: 16px,
    font-family: $headings.h3.font-family
}
$headings.h2 = {
    size: 12px
}
$headings.body-2.size = 12px
$list-tile-font-size = 13px
$list-sub-title-font-size = 11px
$breadcrumbs-padding = 0


// Import Vuetify styling
@import '~vuetify/src/stylus/app'
//@require '~vuetify/src/stylus/main'